[Unit]
Description=edge mqtt filter to post to homebridge

[Service]
Type=idle
User=ubuntu
WorkingDirectory=/home/ubuntu/edge-mqtt-filter
Environment="PATH=/home/ubuntu/edge-mqtt-filter/bin:/home/ubuntu/bin:/home/ubuntu/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
ExecStart=/home/ubuntu/edge-mqtt-filter/bin/python /home/ubuntu/edge-mqtt-filter/main.py

[Install]
WantedBy=network.target multi-user.target
